<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ usuarioService.usuario.username }}
        </ion-title>

        <ion-buttons end *ngIf="usuarioService.usuario.id == authService.usuario.id">
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col class='numeros'>
            10
        </ion-col>
        <ion-col class='numeros' (click)="abrirSeguidores()">
            {{ usuarioService.seguidores.length }}
        </ion-col>
        <ion-col class='numeros' (click)="abrirSeguindo()">
            {{ usuarioService.numSeguindo }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class='numeros-label'>
            Publicações
        </ion-col>
        <ion-col class='numeros-label' (click)="abrirSeguidores()">
            Seguidores
        </ion-col>
        <ion-col class='numeros-label' (click)="abrirSeguindo()">
            Seguindo
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="usuarioService.usuario.id === authService.usuario.id">
            <button ion-button color="light" outline block small (click)="abrirPerfil()">Editar seu perfil</button>
        </ion-col>

        <ion-col small *ngIf="usuarioService.usuario.id !== authService.usuario.id">
            <div [ngSwitch]="usuarioService.userSeguindo.includes(usuarioService.usuario.id)">
                <button ion-button block small outline *ngSwitchCase="true" (click)="removerSeguir(usuarioService.usuario.id)">Seguindo</button>
                <button ion-button block small *ngSwitchCase="false" (click)="seguir(usuarioService.usuario.id)">Seguir</button>
            </div>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class='nome'>
            {{ usuarioService.usuario.nome }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <pre class='bio'>{{ usuarioService.usuario.bio }}</pre>
        </ion-col>
    </ion-row>
</ion-content>
