<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ usuarioService.usuario.username }}
        </ion-title>

        <ion-buttons end *ngIf="usuarioService.usuario.id == authService.usuario.id">
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col class='numeros'>
            10
        </ion-col>
        <ion-col class='numeros'>
            {{ usuarioService.seguidores.length }}
        </ion-col>
        <ion-col class='numeros'>
            {{ usuarioService.seguindo.length }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class='numeros-label'>
            Publicações
        </ion-col>
        <ion-col class='numeros-label'>
            Seguidores
        </ion-col>
        <ion-col class='numeros-label'>
            Seguindo
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button color="light" outline block small (click)="abrirPerfil()" *ngIf="usuarioService.usuario.id == authService.usuario.id">Editar seu perfil</button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class='nome'>
            {{ usuarioService.usuario.nome }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <pre class='bio'>{{ usuarioService.usuario.bio }}</pre>
        </ion-col>
    </ion-row>
</ion-content>
