<ion-header>
    <ion-navbar color="primary">
        <ion-title>Seguidores</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let usuario of usuarioService.seguidores">
            <ion-row>
                <ion-col width-67 (click)="selUsuario(usuario)">
                    <h2 class="username">{{ usuario.username }}</h2>
                    <p>{{ usuario.nome }}</p>
                </ion-col>
                <ion-col width-33 *ngIf="usuario.id !== authService.usuario.id">
                    <div [ngSwitch]="usuarioService.userSeguindo.includes(usuario.id)">
                        <button ion-button small block outline *ngSwitchCase="true" (click)="removerSeguir(usuario.id)">Seguindo</button>
                        <button ion-button small block *ngSwitchCase="false" (click)="seguir(usuario.id)">Seguir</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
